<div class="row">
  <div class="col-xs-12">
    <form
      [formGroup]="novelForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
          >Save
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()"
          >Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input
              type="text"
              id="imageUrl"
              formControlName="imageUrl"
              class="form-control"
              #imageUrl
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            src="imageUrl.value"
            alt=""
            class="img-responsive"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="author">Author</label>
            <input
              type="text"
              id="author"
              class="form-control"
              formControlName="author"
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
